:root {
  --font-family: "SF Pro Text",
    "SF Pro Icons",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  --deep-blue: rgb(49, 11, 218);
  --deep-red: rgb(239, 6, 72);
  --white: #fbfafa;
  --charcoal: rgb(45, 43, 43);
  --layout-guide-item: rgba(255, 89, 0, 0.975);
  --layout-guide-content: rgb(0, 183, 255);
}

/* start design helpers */

/* .item {
  border: 1px dotted var(--layout-guide-item);
}

.content {
  border: 1px dotted var(--layout-guide-content);
}

.card-content {
  border: 1px solid var(--layout-guide-content);
} */

/* end design helpers */

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 100%;
}

.content {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.content .content {
  padding: 0;
}

.control-container {}

.control-container .content {
  background-color: var(--charcoal);
  color: var(--white);
  margin: 0 8px;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item.control-container {
    flex-basis: 50%;
  }

  .item.control {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {

  .item.navbar-logo,
  .item.navbar-menu {
    flex-basis: 50%;
  }

  .item.card {
    flex-basis: 50%;
  }

  .item.intro {
    flex-basis: 50%;
  }

}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }

  .item.card {
    flex-basis: 33.33333333333333333333333333333333333%;
  }

}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: var(--charcoal);
}

a {
  color: var(--deep-blue);
}

input,
textarea,
button,
select {
  display: block;
  height: 2rem;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
  border: 1px solid var(--charcoal);
}

textarea {
  height: 4rem;
}

button {
  height: 2.5rem;
}

form>* {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.control select {
  max-width: 72px;
}

#navbar {
  display: flex;
  background-color: var(--deep-blue);
  color: var(--white);
  border-bottom: 4px solid var(--deep-red);
}

#navbar a {
  color: var(--white);
}

.navbar-items {
  justify-content: space-between;
}

.navbar-menu ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
}

.navbar-menu li {
  margin: 0 0.5rem;
}

.navbar-logo {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}

.navbar-logo a {
  color: var(--white);
  text-decoration: none;
}

.card-content {
  border-top: 8px solid var(--charcoal);
  margin: 8px 8px 24px 8px;
}

.card-content img {
  height: 90px;
  width: 90px;
  vertical-align: middle;
  margin-top: 0px;
}

.card-content p {
  font-style: italic;
}

.card-content .card-title,
.card-content .card-image {
  margin-bottom: 24px;
}

.card-content .card-image {
  text-align: end;
}

.card-content table {
  width: 100%;
  font-size: 0.875rem;

}

.card-content table thead {
  font-weight: 700;
}

.card-content table td {
  width: 25%;
}

.card-content table td.loading {
  width: 100%;
}

.card-content table thead td {
  border-bottom: 2px solid var(--charcoal);
}

.card-content .item.card-title {
  flex-basis: 66.6666666666666667%;
}

.card-content .item.card-image {
  flex-basis: 33.33333333333333333%;
}

#footer {
  display: flex;
  margin-top: auto;
  background-color: var(--deep-blue);
  color: var(--white);
  height: 200px;
  border-top: 4px solid var(--deep-red);
}

.intro {
  font-size: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}